--swiftversion 6.0
--indent 4
--wraparguments before-first
--wrapcollections before-first
--commas inline
--stripunusedargs closure-only
--disable andOperator,blankLinesAtEndOfScope,blankLinesBetweenScopes,braces,conditionalAssignment,elseOnSameLine,hoistAwait,hoistTry,indent,noForceUnwrapInTests,numberFormatting,opaqueGenericParameters,preferKeyPath,redundantParens,redundantReturn,redundantSelf,redundantThrows,redundantViewBuilder,sortImports,trailingClosures,trailingCommas,typeSugar,wrapFunctionBodies,wrapIfStatementBodies,wrapLoopBodies,wrapMultilineStatementBraces,wrapPropertyBodies
